body {
  font-family: "Roboto", sans-serif;
  background-color: #15202b;
}

.navbar {
  display: flex;
  justify-content: center;
}
nav {
  background: #343a40;
  border-radius: 6px;
  width: 80%;
  height: 3rem;
  display: flex;
}

.link {
  text-decoration: none;
}
.page-wrapper {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 3rem;
}

.message-false {
  display: none;
}

.tweet {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-tweet-wrapper {
  margin-top: 3rem;
  border: white solid 1px;
  height: 90%;
  width: 50%;
  border-radius: 6px;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: #15202b;
}
.profile {
  width: 50%;
  border-radius: 6px;
  position: relative;
  display: flex;
}
.profile-text {
  color: white;
  margin-top: 3rem;
  font-size: 2.5rem;
}
.profile-wrapper {
  border: white solid 1px;
  height: 90%;
  width: 50%;
  border-radius: 6px;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: #15202b;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 10rem;
}

.input-tweet {
  height: 90%;
  min-height: 10rem;
  font-size: 1.3rem;
  resize: none;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  overflow: auto;
}

.input-name {
  height: 90%;
  min-height: 2rem;

  font-size: 1.3rem;
  resize: none;
  border: none;
  background-color: transparent;
  color: white;
  outline: white;
  overflow: auto;
}

.user {
  padding-bottom: 1rem;
}

.server-error-wrapper {
  position: relative;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.server-error {
  color: red;
  position: absolute;
  background-color: pink;
  padding: 0.2rem 2rem;
  border-radius: 6px;
}

.button-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.input-tweet-button {
  border: none;
  width: auto;
  height: 2rem;
  font-size: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  align-self: end;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  align-self: flex-end;
}
.input-tweet-button-true {
  background-color: #4a4a4a;
}
.input-tweet-button-false {
  background-color: #007bff;
  cursor: pointer;
}
.max-chars {
  color: #721c24;
  background-color: #f8d7da;
  border-radius: 6px;
  font-size: 0.9rem;
  position: absolute;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  background-color: #343a40;
  margin-top: 1rem;
  border-radius: 6px;
  height: 30%;
  min-height: 8rem;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.user-date {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: #6c757d;
  font-size: 1rem;
  line-height: 1.2rem;
}
.tweet-item {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: 2rem;
  text-align: left;
  padding-bottom: 2rem;
  overflow: auto;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #cef;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
